* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flexi {
  display: flex;
}
header {
  font-family: 'Mukta', sans-serif;
  #min-header {
    background-color: #007bff;
    width: 100%;
    nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    nav ul li {
      display: inline-block;
      font-size: 10pt;
      color: white;
    }
    nav ul li:first-child{
      padding-right: 20px;
    }
  }
  #max-header {
    width: 100%;
    background-color: white;
    .flexi {
      justify-content: space-around;
      nav ul li {
        display: inline-block;
        color: white;
        padding-right: 20px;
        a {
          text-decoration: none;
          color: #555759;
          font-weight: bolder;
        }
      }
      #search {
        .fa-search {
          padding-left: 10px;
          color: #007bff;
        }
      }
    }
  }
}
.jumbotron {
  background-image: url('/storage/jumbotron.jpg');
  height: 40vh;
}
#list {
  ul {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      width: 13%;
      margin-right: 40px;
      margin-bottom: 20px;
      text-align: center;
      .cards {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
      }
    }
  }
}
